/* Default Theme */
/* ----------------------------------------- */


/* General styles */
body {
	color: #444;
  background: #fcfcfc;
}

a, a:visited, a:hover{ color: #444;}


	
/* Container */
.container{}

.row{}



/* Header */
#head{margin-bottom:10px;}
#head hgroup{ }
#head hgroup h1{}
#head hgroup h1 a{
	text-decoration: none;
	font-size: 50px;
	line-height: 60px;
	color: #999;
}	
#head hgroup h2{ color: #aaa; line-height: 30px;}

#head nav{
	background: #eee;
	border-top: solid 2px #ccc;
	border-bottom: solid 2px #ccc;
}
#head nav ul{}
#head nav ul li{ 
	display: block; 
	float: left;
	margin: 0 5px 0 0;
}

#head nav ul li a{
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #444;
} 
#head nav ul li a:hover{
	color: #fff;
	background: #666;
}

/* Center section */
#center{
}


/* Main Content */
#content{}
#content article{
	margin: 0 0 20px 0;
}

	/* The post header */
	#content article header{
		background: #444;
		color: #ccc;
		padding: 5px;
	}	
	#content article header a{
		color: #fff;
	}

	#content article header h1,
	#content article header h2 a{
		color: #fff;
		text-decoration: none;
		line-height: 40px;
	}
	#content article header .info{}
		
	/* The post content */	
	#content article .thecontent{
		line-height: 18px;
		padding: 20px 0 0 0;
	}

	#content article .thecontent h1{font-size: 2em; line-height: 2.4em;}
	#content article .thecontent h2{font-size: 1.8em; line-height: 2.2em;}
	#content article .thecontent h3{font-size: 1.6em; line-height: 2em;}
	#content article .thecontent h4{font-size: 1.4em; line-height: 1.8em;}
	#content article .thecontent h5{font-size: 1.2em; line-height: 1.6em;}
	#content article .thecontent h6{font-size: 1em; line-height: 1.4em;}


	#content article .thecontent h1,
	#content article .thecontent h2,
	#content article .thecontent h3,
	#content article .thecontent h4,
	#content article .thecontent h5,
	#content article .thecontent h6{
		clear: both;
	}

	#content article .thecontent cite{
		color: #555;
	}
	
	#content article .thecontent blockquote{
		background: #eee;
		padding: 5px;
		font-style: italic;
		clear: both;
	}
	
	#content article .thecontent img{
		padding: 10px;
	}


	#content article .thecontent ul, #content article .thecontent ol{
		margin: 20px;
		clear: both;
	}
	#content article .thecontent ul li{
		list-style: disc;
		margin-left: 20px;
	}

	#content article .thecontent ol li{
		list-style: decimal;
		margin-left: 20px;
	}

	
	#content article .thecontent .thumb{
		width: 150px;
		float: left;
		margin: 0 10px 10px 0;
	}
	
	#content article .thecontent p{
		margin: 5px 0;
	}

	/* The content footer */
	#content article footer{
		position: relative;
		border-top: solid 4px #ccc;
		margin: 20px 0;
		padding: 10px 50px 0 0;
		clear: both;
	}
	#content article footer .edit{
		position: absolute;
		right: 5px;
		bottom: 5px;
	}
	#content article footer .categories{}
	#content article footer .tags{}


/* Pagination */

#pagination{
	margin: 10px 0;
	height: 30px;
}
	
#pagination .previous ,
#pagination .next {
	font-weight:bold;
	border:solid 1px #ccc;
}

#pagination .current{
	font-weight:bold;
	display:block;
	float:left;
	padding:4px 6px;
}

#pagination a{
	border: solid 1px #ccc;
	margin-right:2px;
	color:#444;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}
#pagination a:hover{
	background: #444;
	color: #fff;
}


/* Comments section in single */

#comments{}
#comments h3{
	background: #444; 
	color: #fff;
	padding: 5px;
}


	/* Comment list */
	#comments li .comment-body{clear: both; padding: 10px;}
	#comments li.even > .comment-body{background: #fff;}
	#comments li.odd > .comment-body{background: #efefef;}
	#comments li.depth-1 .comment-body{border-left: solid 4px #666;}
	#comments li.depth-2 .comment-body{margin-left: 30px;border-left: solid 4px #888;}
	#comments li.depth-3 .comment-body{margin-left: 60px;border-left: solid 4px #aaa;}
	#comments li.depth-4 .comment-body{margin-left: 90px;border-left: solid 4px #ddd;}
	#comments li.depth-5 .comment-body{margin-left: 120px;border-left: solid 4px #eee;}

	/* Comment info */
	#comments .comment-author{float: left; margin-bottom: 10px;}
	#comments .comment-author img{ padding: 3px; border: solid 1px #ccc;}
	#comments .comment-meta{float: right;}
	#comments p{ clear: both;}
	#comments .reply{text-align: right;}

	/* Comment form */
	#respond p{padding: 10px 0;}
	#respond label{float: left;}
	#respond .required{float: left;}
	#respond input, #respond textarea{float: right; border: solid #ccc 1px;  width: 98%; height: 30px; line-height: 30px; color: #444; padding: 5px;}
	#respond #submit{background: #444; border: solid 1px #444; color: #fff; width: 99.6%; height: 40px;}
	#respond textarea{width: 97.8%; height: 200px;}
	#respond .form-allowed-tags{ width: 98%;}


/* Sidebar */
#sidebar{}
#sidebar aside{
	margin: 0 0 20px 0;
}
#sidebar h3{ 
	background: #444; 
	color: #fff;
	padding: 5px;
}
#sidebar ul{}
#sidebar ul li{
	border-bottom: solid 1px #ccc;
}
#sidebar ul li a{
	text-decoration: none;
	display: block;
	padding: 5px;
	color: #444;
}
#sidebar ul li a:hover{
	color: #fff;
	background: #aaa;
}

	/* Custom sidebar sections */

	#sidebar .search{position: relative;}
	#sidebar .search h3{display: none;}
	#sidebar .search #s{
		margin-top: 5px;
		width: 98.5%;
		height: 30px;
		border: solid 1px #ccc;
		line-height: 30px;
		font-size: 22px;
	}
	#sidebar .search #searchsubmit{
		width: 38px;
		height: 24px;
		display: block;
		border: none;
		position: absolute;
		margin-top: -30px;
		right: 2px;
		background: url(../img/nakeme/search.png) no-repeat left top;
		text-indent: -999999px;
	}
	#sidebar .categories{}
	#sidebar .tags{}
	#sidebar .tags nav{
		margin-top: 5px;
	}
	#sidebar .tags a{
		display: inline-block;
		vertical-align: top;
		*display: inline;
		zoom: 1;
		border: solid 1px #ccc;
		padding: 3px 5px;
		color: #444;
		text-decoration: none;
		margin: 0 0 5px 0;
	}
	#sidebar .tags a:hover{
		background: #444;
		color: #fff;
	}
	#sidebar .links{}
	

/* Footer */
	
#colophon{
	margin-top: 20px;
	background: #eee;
	border-top: solid 2px #ccc;
	border-bottom: solid 2px #ccc;
}
#colophon section .content{
	padding: 10px;
}




/* Custom sections */

.index{}
.archive{}
.single{}
.page{}
.error404{}
.author{}	



